<div class="col-11 card" id="divChart" style="display: none;;">
    <div class="card-body">
        <h2 class="text-center mb-0">Apex Charts</h2>
        <p class="mt-0 text-center">Example Using ApexCharts - a popular javascript chart/graphing library using SVGs</p>
        <h3 class="text-center">Top 25 Credits</h3>
        <div class="mt-5 d-flex justify-content-center col-12">
                <div id="divCreditChart" class="col-12"></div>
        </div>
        <h3 class="text-center mt-5">Top 25 Production</h3>
        <div class="mt-5 d-flex justify-content-center col-12">
            <div id="divProdChart" class="col-12"></div>
    </div>
    </div>
</div>