<div class="col-11 card" id="divTable" style="display: none;;">
    <div class="card-body">
        <h2 class="text-center mb-0">DataTables.net</h2>
        <p class="mt-0 text-center">Example Using DataTables.net - a popular jQuery table library</p>
        <h3 class="text-center">Data</h3>
        <table id="tblProfessors">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Credits</th>
                    <th>Salary</th>
                    <th>Production</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>